@import "https://www.nerdfonts.com/assets/css/webfont.css";

:root {
  --clr-dark-900: black;
  --clr-light-900: white;

  --bg-clr: rgba(228, 228, 228);

  --clr-gray: rgba(120, 120, 120);

  --transition-sm: 0.2s;

  --radius-sm: 0.5rem;
  --radius-md: 0.75rem;

  --padding-xs: 0.5rem;
  --padding-sm: 1rem;
  --padding-md: 1.5rem;
  --padding-lg: 3rem;
  --padding-xl: 4rem;

  --gap-xs: 0.5rem;
  --gap-sm: 1rem;
  --gap-md: 2rem;

  --font-xs: 0.75rem;
  --font-sm: 1rem;
  --font-md: 1.5rem;
  --font-lg: 2rem;
  --font-xl: 3rem;

  --box-shadow: 7px 5px 10px 0 rgb(80, 80, 80);
}

@media (max-width: 768px) {
  :root {
    --font-xs: calc(0.75rem * 0.85);
    --font-sm: calc(1rem * 0.85);
    --font-md: calc(1.5rem * 0.85);
    --font-lg: calc(2rem * 0.75);
    --font-xl: calc(3rem * 0.75);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --font-color: var(--clr-dark-900);
    --font-color-inverse: var(--clr-light-900);
  }
  body {
    background-color: white;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --font-color: var(--clr-light-900); */
    /* --font-color-inverse: var(--clr-dark-900); */
    --font-color: var(--clr-dark-900);
    --font-color-inverse: var(--clr-light-900);
  }
  body {
    /* background-color: #1c1b22; */
    background-color: white;
  }
}

* {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  padding: 0;
  margin: 0;
  color: inherit;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  color-scheme: dark light;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
  }
}

body {
  color: var(--font-color);
  min-height: 100vh;
  min-height: 100svh;
  background-color: var(--bg-clr);
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
  border-spacing: 0;
}

img,
video,
svg,
picture {
  display: block;
  width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
}

button {
  cursor: pointer;
}

code {
  font-family: monospace;
}

h1 {
  font-size: var(--font-lg);
}

h2 {
  font-size: var(--font-md);
}

p {
  font-size: var(--font-sm);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border: solid 1px black;
  padding-block: var(--padding-xs);
  padding-inline: var(--padding-sm);
  border-radius: var(--radius-sm);
  font-size: var(--font-sm);
  font-weight: bold;
  text-decoration: none;
  color: var(--font-color-inverse);
  transition: var(--transition-sm);
}

.btn:hover {
  background-color: transparent;
  color: var(--font-color);
  transition: var(--transition-sm);
}

.btn--inverse {
  border: solid 1px var(--font-color-inverse);
  color: var(--font-color-inverse);
}

.btn--inverse:hover {
  background-color: var(--font-color-inverse);
  color: var(--font-color);
}

.input {
  border: solid 1px black;
  background-color: transparent;
  height: 2.5rem;
  padding-inline: var(--padding-sm);
  border-radius: var(--radius-sm);
}
